@{
    ViewData["Title"] = "APAP";
}

<h2>APAP subir nomina</h2>


<div style="padding-bottom:30px;">

    <h4>Fecha de deposito</h4>
    <input type="date" />
</div>


<input type="file" id="myFile" name="filename">

<input style="margin-top:10px;" type="submit">