@{
    ViewData["Title"] = "Home Page";
}


<h2>Extraer Nomina UNAPEC</h2>


<div style="padding-bottom:30px;">

<h4>Fecha de envio</h4>
<input type="date" />
</div>

<button>Extraer Nomina</button>


